<?xml version="1.0" encoding="UTF-8"?>
<!-- Created with TexturePacker http://www.codeandweb.com/texturepacker-->
<!-- $TexturePacker:SmartUpdate:7027490dec3f8a79a7ce4fa9ae94b89e:1/1$ -->
<TextureAtlas imagePath="menu.png">
    <SubTexture name="UI_background" x="2" y="2" width="960" height="640"/>
    <SubTexture name="arrow_down" x="964" y="2" width="48" height="48"/>
    <SubTexture name="arrow_up" x="1014" y="2" width="48" height="48"/>
    <SubTexture name="band_lower" x="1064" y="2" width="68" height="75"/>
    <SubTexture name="band_top" x="1134" y="2" width="28" height="69"/>
    <SubTexture name="band_vertical" x="1164" y="2" width="75" height="68"/>
    <SubTexture name="button_buy" x="1241" y="2" width="101" height="92"/>
    <SubTexture name="button_buy_tap" x="1344" y="2" width="101" height="92"/>
    <SubTexture name="button_left" x="1447" y="2" width="122" height="85"/>
    <SubTexture name="button_left_tap" x="1571" y="2" width="122" height="85"/>
    <SubTexture name="button_middle" x="1695" y="2" width="196" height="95"/>
    <SubTexture name="button_middle_red" x="2" y="644" width="196" height="95"/>
    <SubTexture name="button_middle_red_tap" x="200" y="644" width="196" height="95"/>
    <SubTexture name="button_middle_tap" x="398" y="644" width="196" height="95"/>
    <SubTexture name="button_right" x="596" y="644" width="122" height="85"/>
    <SubTexture name="button_right_tap" x="720" y="644" width="122" height="85"/>
    <SubTexture name="button_vertical" x="844" y="644" width="95" height="196"/>
    <SubTexture name="counter_lower" x="941" y="644" width="63" height="73"/>
    <SubTexture name="green_band" x="1006" y="644" width="57" height="89"/>
    <SubTexture name="green_button" x="1065" y="644" width="196" height="95"/>
    <SubTexture name="green_button_tap" x="1263" y="644" width="196" height="95"/>
    <SubTexture name="header" x="2" y="842" width="949" height="75"/>
    <SubTexture name="icons_background" x="953" y="842" width="93" height="84"/>
    <SubTexture name="icons_buycogs_01" x="1048" y="842" width="128" height="128"/>
    <SubTexture name="icons_buycogs_02" x="1178" y="842" width="128" height="128"/>
    <SubTexture name="icons_buycogs_03" x="1308" y="842" width="128" height="128"/>
    <SubTexture name="icons_cogwheel" x="1438" y="842" width="58" height="58"/>
    <SubTexture name="icons_double_cogs" x="1498" y="842" width="128" height="128"/>
    <SubTexture name="icons_gatling" x="1628" y="842" width="128" height="128"/>
    <SubTexture name="icons_health" x="1758" y="842" width="58" height="58"/>
    <SubTexture name="icons_health_white" x="1818" y="842" width="58" height="58"/>
    <SubTexture name="icons_jatpack" x="1878" y="842" width="128" height="128"/>
    <SubTexture name="icons_magnit" x="2" y="972" width="128" height="128"/>
    <SubTexture name="icons_multiscore" x="132" y="972" width="128" height="128"/>
    <SubTexture name="icons_nitro" x="262" y="972" width="128" height="128"/>
    <SubTexture name="icons_quickstart" x="392" y="972" width="128" height="128"/>
    <SubTexture name="icons_shield" x="522" y="972" width="128" height="128"/>
    <SubTexture name="icons_star" x="652" y="972" width="54" height="54"/>
    <SubTexture name="icons_star_off" x="708" y="972" width="56" height="55"/>
    <SubTexture name="icons_star_on" x="766" y="972" width="58" height="58"/>
    <SubTexture name="icons_surprisebox" x="826" y="972" width="128" height="128"/>
    <SubTexture name="icons_umbrella" x="956" y="972" width="128" height="128"/>
    <SubTexture name="layout_bottom" x="1086" y="972" width="544" height="138"/>
    <SubTexture name="layout_middle" x="2" y="1112" width="544" height="124"/>
    <SubTexture name="layout_name" x="548" y="1112" width="544" height="124"/>
    <SubTexture name="layout_top" x="1094" y="1112" width="544" height="138"/>
    <SubTexture name="layout_top_name" x="2" y="1252" width="544" height="138"/>
    <SubTexture name="popup_background" x="548" y="1252" width="405" height="154"/>
    <SubTexture name="screen_name_cog_menu" x="955" y="1252" width="345" height="37"/>
    <SubTexture name="screen_name_ingame" x="1302" y="1252" width="288" height="37"/>
    <SubTexture name="screen_name_loose_screen" x="1592" y="1252" width="288" height="37"/>
    <SubTexture name="screen_name_map" x="2" y="1408" width="345" height="37"/>
    <SubTexture name="screen_name_prelevel" x="349" y="1408" width="288" height="37"/>
    <SubTexture name="screen_name_regeneration" x="639" y="1408" width="355" height="37"/>
    <SubTexture name="screen_name_shop_menu" x="996" y="1408" width="288" height="37"/>
    <SubTexture name="screen_name_win_screen" x="1286" y="1408" width="288" height="37"/>
    <SubTexture name="screen_name_your_score" x="1576" y="1408" width="345" height="37"/>
    <SubTexture name="sound_off" x="1923" y="1408" width="108" height="94"/>
    <SubTexture name="sound_off_tap" x="2" y="1504" width="108" height="94"/>
    <SubTexture name="sound_on" x="112" y="1504" width="108" height="94"/>
    <SubTexture name="sound_on_tap" x="222" y="1504" width="108" height="94"/>
    <SubTexture name="tasck_icons_box" x="332" y="1504" width="128" height="128"/>
    <SubTexture name="upgrade_bar" x="462" y="1504" width="62" height="107"/>
    <SubTexture name="upgrade_bar_on" x="526" y="1504" width="34" height="32"/>
</TextureAtlas>
